* {
    margin: 0;
    padding:0;
}

body, html {
    width: 100%;
    height: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.navigation {
    float: right;
    padding-top: 20px;
}

.navigation a {
    text-decoration: none;
    padding: 10px;
    font-family: Arial, serif;
    font-size: 13px;
    color: black;
    height: 80px;
}

img {
    width: 270px;
    height: auto;
}

.languages a {
    color: darkblue;
    text-decoration: none;
}

.search-bar input {
    width: 500px;
    height: 46px;
    border-radius: 20px;
    border: lightgrey solid 1px;
}

button {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #f2f2f2; 
    color: #5F6368;
    border: 3px solid  #f2f2f2;
    border-radius: 6px;
    padding: 7px 10px;
    cursor: pointer;
    margin-right: 5px;
    -webkit-appearance: none;
    box-sizing: border-box;
}

button:hover {
    border: 1px solid #5F6368;
}

/* I struggled to center the elements. 
I tried margin:auto and dividing the page into a grid. None of these worked satisfyingly. 
The fixed position is useful in so far that the elements don't move when you resize the window from side to side.
But they DO collapse into each other when you move shrink the browser vertically.*/

main {
    height: 400px;
    width: 500px;
    display: block;
    position: fixed;
    top: 150px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.logo {
    position: absolute;
    top: 45px;
    left: 115px;
}

.search-bar {
    position: absolute;
    top: 160px;
    left: 0px;
}

.buttons {
    position: absolute;
    top: 240px;
    width: 100%;
    text-align: center;
}

.languages {
    position: absolute;
    top: 300px;
    width: 100%;
    text-align: center;
}


/* FOOTER - not hard to do but I was tired when I attacked that part & got stuck for hours...
If something's not working as you expect, look over your code before jumping to other solutions.
Sometimes you're simply missing quotes or a bracket.. 
Don't forget that elements don't need a dot in front, only classes do! */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    clear: both;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
    border-top: 1px solid #e4e4e4;
    display: inline-block;
}

.footer1 {
    font-size: 15px;
    margin-left: 30px;
    padding: 15px 0;
}

.wrap {
    display: block;
    border-top: 1px solid #e4e4e4;
    word-spacing: 1.7em;
}

.footer2 {
    float: left;
    font-size: 13px;
    margin-left: 30px;
    padding: 15px 0;
}

.footer3 {
    float: right;
    width: 200px;
    font-size: 13px;
    margin-right: 20px;
    padding: 15px 0;
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

footer a {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}
