* {
    margin: 0;
    padding:0;
}

.navigation {
    float: right;
    padding-top: 20px;
}

.navigation a {
    text-decoration: none;
    padding: 10px;
    font-family: Arial, serif;
    font-size: 13px;
    color: black;
}

img {
    width: 270px;
    height: auto;
}

/* I struggled to center the elements. 
I tried margin:auto and dividing the page into a grid. None of these worked satisfyingly. 
The fixed position is useful in so far that the elements don't move when you resize the window.
With the inspector, you can see they actually wrote it in the HTML with the container <center></center> */

.logo {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar input {
    width: 500px;
    height: 42px;
    border-radius: 20px;
    border: lightgrey solid 1px;
}

.buttons {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-45%, 0);
    text-align: center;
}

button {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    background-color: #f2f2f2; 
    color: #5F6368;
    border: 3px solid  #f2f2f2;
    border-radius: 6px;
    padding: 7px 10px;
    cursor: pointer;
    margin-right: 5px;
    -webkit-appearance: none;
    box-sizing: border-box;
}

button:hover {
    border: 1px solid #5F6368;
}

.languages {
    position: fixed;
    top: 63%;
    left: 50%;
    transform: translate(-45%, 0);
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.languages a {
    color: darkblue;
    text-decoration: none;
}

/* Don't forget that elements don't need a dot in front, only classes do!
If something's not working as you expect, look over your code before jumping to other solutions.
Sometimes you're simply missing quotes or a bracket.. */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    clear: both;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.54);
    border-top: 1px solid #e4e4e4;
    display: inline-block;
    box-sizing: border-box;
}

.footer1 {
    font-size: 15px;
    margin-left: 30px;
    padding: 15px 0;
}

.wrap {
    display: block;
    border-top: 1px solid #e4e4e4;
    word-spacing: 1.7em;
}

.footer2 {
    float: left;
    font-size: 13px;
    margin-left: 30px;
    padding: 15px 0;
}

.footer3 {
    float: right;
    width: 200px;
    font-size: 13px;
    margin-right: 20px;
    padding: 15px 0;
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

footer a {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}
